.navbar-nav{
    margin-left: 60%;
    background-color:black;
}

.card{
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}
.col-f{
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
}
.card-ob{
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;

}
.Logo{
    width: 75px;
    height:75px;
    margin-right: 20px;
}
.card-img-top{
    width: 450px;
    height: 400px;

}

.second-titule{
    text-align: center;
    margin: 20px;
}

.card span
{
    position: absolute;
    top: -10px;
    left: -10px;
    width: 150px;
    height: 150px;
    /*background: #f00;*/
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.card span::before
{
    content: 'REBAJAS';
    position: absolute;
    width: 150%;
    height: 40px;
    background: #23a2f6;
    transform: rotate(-45deg) translateY(-20px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.1em;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1)
}
.card span::after
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background: #4a98bf;
    z-index: -1;
    box-shadow: 140px -140px #4a98bf;
}

