.navbar-nav{
    margin-left: 60%;
    background-color:black;
}

.card{
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}
.col-f{
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
}
.card-ob{
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;

}
.Logo{
    width: 75px;
    height:75px;
    margin-right: 20px;
}
.card-img-top{
    width: 450px;
    height: 400px;

}

.second-titule{
    text-align: center;
    margin: 20px;
}


